SERVER_PERSISTENCE_MODE=in-memory
DATABASE_URL=postgres://username:password@localhost:5432/dnd_platform
SERVER_PORT=2567
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:2567
AUTH_COOKIE_SECURE=false
